{name, "jobs"}.
{authors, ["Ulf Wiger <ulf.wiger@erlang-solutions.com>"]}.
{description, "Job scheduler for load regulation"}.
{homepage, "https://github.com/esl/jobs"}.
{rebar_compatible, true}.
{license, "Apache License 2.0", "LICENSE"}.
{url, {git, "https://github.com/esl/jobs.git", {branch, "master"}}}.
{applications, [jobs]}.
